# Xmake cache
.xmake/
build/

# MacOS Cache
.DS_Store

# Windows
Thumbs.db
*.user
*.suo
*.sln
*.vcxproj*
*.vcproj*
*.sdf
*.opensdf
*.db

# Binaries
*.exe
*.dll
*.lib
*.pdb
*.ilk

# IDE
.vscode/
.idea/

# Output directories
bin/
obj/
